<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>欢迎 <%= @user.name %></h1>
<p>
  您已经注册成功,
  您的用户名是: <%= @user.name %>.<br>
</p>
<p>
  进入页面查看你的信息: <%= @url %> .
</p>
<p>感谢您的加入！</p>
</body>
</html>